/*estilo pra tela de 800*/
@font-face {
    font-family: 'Poppins';
    src: url(font/poppins/Poppins-Black.otf) format('.otf');
 }


li a{
    font-family: 'Poppins';
    margin: 0px;
    background-color: rgb(255, 255, 255);
    margin-right: 0px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 6px;
    list-style-type: none;
    align-items: left;
    float: left;
    justify-content: center;
    text-decoration: none;
    
}
li{
    font-family: 'Poppins';
    float: left;
    text-decoration: none;
    margin-left: 0;
}
.paginas{
    font-family: 'Poppins';
    background-color: white;
    list-style-type: none;
    margin-top: 0;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    overflow: hidden;
    z-index: 5;
    font-size: 60%;
    padding: 0;
    float: left;
    justify-content: left;
    align-items: left;
}
.barra_de_paginas{
    /*box-shadow: 5px 2px 8px 5px grey;*/
    margin-top: 0;
    padding: 0;
    float: left;
}
.separador_barra{
    width:0;
    padding-left: 0;
}
body{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgb(255, 255, 255);
    display: flex;
}
ul{
    list-style-type: none;
    color: black;
    text-decoration: none;
    display:flex;
}
.home a{
    color:greenyellow;
    text-decoration: none;
}
#cm a{
    text-decoration: none;
    color:black;
}
.separador{
    align-items: center;
    justify-content: center;
    width:0;
    height:0;
    border-right:25vw solid transparent;
    border-top: 93.3vh solid rgb(0, 0, 0);
    margin-left: 39.5vw;
    margin-top: 0;
    position: absolute;
    z-index: 3;
    display: flex;
}
.separador2{
    align-items: center;
    justify-content: center;
    width:0;
    height:0;
    border-right:25vw solid transparent;
    border-top: 93.3vh solid rgb(53, 243, 46);
    margin-left: 40.3vw;
    margin-top: 0;
    position: absolute;
    z-index: 3;
}
.box{
    background-color: black;
    color: white;
    width: 62vw;
    height: 93.3vh;
    margin-block-end: 0;
    margin-block-start: 0;
    position: absolute;
}
.texto h1{ /*titulo*/
    max-width: 60vw;
    overflow: hidden;
    float: left;
    position: absolute;
    font-size: 150%;
    margin-top: 10vh;
}
.texto h4{ /*texto*/
    max-width: 50vw;
    float: left;
    position: absolute;
    display: flex;
    font-size: 85%;
    margin-top: 20vh;
}
.texto{
    display: flex;
    max-width:60vw;
    z-index: 4;
    position:relative;
    margin-left: 2vw;
}
.botaobox1{ /*localizacao*/
    margin-left: 1vw;
    font-size: 150%;
    border-radius: 15px;
    height: 10vw;
    border-width: 0;
    background-color: rgb(255, 255, 255);
    font-size: 125%;
    width: 100%;
    margin-top: 30%;
}
.botaobox2{ /*contato*/
    margin-left: 1vw;
    font-size: 125%;
    border-radius: 15px;
    height: 10vw;
    border-width: 0;
    background-color: rgb(53, 243, 46);
    font-size: 125%;
    width: 100%;
    margin-top: 10vh;
}
.texto table{
    width:50vw;
    margin-top: 200%;
}
/*.img{
    width:40vw;
    float: right;
    margin-inline-start: 0 ;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    overflow: hidden;
    margin-right: 40vw;
}*/
.indimg{
    margin-top: 0vw;
    height: 93.3vh;
    width: 55vw;
    background-size: cover;
    background-image: url(img/mulher-adulto-sinal-simbolo-familia.jpg);
}
.col{
    align-items: center;
    justify-content: center;
    background-color: rgb(56, 56, 56);
    margin-left: 5vw;
    margin-right: 5vw;
    font-size: 35px;
    box-shadow: 0px 14px 9px 0px grey;
    height: 120%;
    display:flex;
    margin-top: 20vh;
    width:85vw
}
.col-o{
    display: block;
    width: 2.5vw;
}
.back{
    margin-top: 3%;
}
input[type=text]{
    float: left;
    justify-content: center;
    height: 7.3vw;
    width: 96%;
    border-radius:15px;
    border-width: 0 ;
    margin-left: 2%;
    margin-right: 100%;
    font-size: 25px;
    margin-top: 3%;
    box-shadow: -3px 2px 8px inset;
  }
button[type=submit]{
    border-radius: 15px;
    height: 10vw;
    border-width: 0;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    width: 70%;
    margin-right:100%;
    margin-bottom: 1%;
    margin-left: 15%;
    margin-top: 10%;
    float: left;
}
button[type=reset]{
    border-radius: 15px;
    height: 10vw;
    border-width: 1;
    background-color: rgb(56, 56, 56);
    border-color: rgb(53, 243, 46);
    border-style:double;
    font-size:20px;
    width: 70%;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-top: 2%;
    color: rgb(53, 243, 46);
}
label{
    display: flex;
    margin-left: 5%;
    margin-top: 20%;
    color: white;
    margin-bottom: 5%;
}
.logimg{
    background-image: url(img/pesos\ teste.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:35%;
    float: right;
    display: flex;
    position: relative;
    margin-inline-start: 0 ;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    flex: 2;
    height:60vh;
    overflow: hidden;
}
.loginform{
    width:65%;
    display: flex;
    margin-inline-start: 0 ;
    margin-inline-end: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    height: 100%;
}
::placeholder{
    font-size: 20px;
    color: lightgray;
}
footer{
    margin-top:7vw;
    background-color: black;
    height: 20vw;
    color:white;
}
.sobrenosar{
    margin-top: 93vh;
    background-image: url(img/arranjo-de-halteres-no-ginasio.jpg);
    width: 100%;
    position: absolute;
    z-index: 4;
    background-size: cover;
}
.sobrenostext{
    margin-top: 10vh;
    margin-bottom: 10vh;
    font-size: 100%;
    color: white;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    width: 80%;
}
.sobrenostext h1{
    margin-right: auto; 
    margin-left: auto; 
    width:100%;
    font-size: 200%;
    margin-top: 5vh;
}
.vitrine{
    width: 100vw;
    color: rgb(0, 0, 0);
    margin-left: 0vw;
    margin-right: 1vw;
    margin-top: 213vh;
    position: absolute;
    /*margin-left: 5vw;
    margin-right: 5vw;*/
    background-image: url(img/jovem-adulto-praticando-esportes-indoor-na-academia.jpg);
    background-repeat: no-repeat;
    background-size: 205vw;
}
.botao{
    border-radius: 15px;
    font-size: 150%;
    margin-left: 20%;
    margin-right: 20%;
    width:60%;
    display: flexbox;
    margin-bottom: 5vh;
    height: 10vh;
    color: white;
    border-style: solid;
}  
.vitrine h1{
    font-size: 200%;
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 50%;
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.vitrine table{
    width: 99vw;
}
footer{
    background-color: black;
    height: 20vh;
    width: 100vw;
    margin-top: 298vh;
}