li a{
    margin: 0px;
    background-color: white;
    margin-left: 2%;
    margin-right: 0px;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
    align-items: left;
    float: left;
    justify-content: center;
    text-decoration: none;
}
li{
    margin-left: 2%;
    justify-content: center;
    float: left;
    text-decoration: none;
}
.paginas{
    display: flex;
    background-color: white;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
/*.separador_barra{
    width:20%;
    padding-left: 10%;
    overflow: hidden;
}*/
body{
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
}
ul{
    list-style-type: none;
    color: black;
    text-decoration: none;
}
.home a{
    color:greenyellow;
    text-decoration: none;
    font-size: 150%;
}
#cm a{
    text-decoration: none;
    color:black;
    font-size: 150%;
}