li a{
    margin: 0px;
    width:10%;
    background-color: white;
    margin-left: 2%;
    margin-right: 0px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 14px 16px;
    list-style-type: none;
}
li{
    width: 10%;
    overflow: hidden;
}
.paginas{
    background-color: white;
    list-style-type: none;
    height: 110px;
    overflow: hidden;
}
.separador_barra{
    width:10%;
    padding-left: 10%;
    overflow: hidden;
}
body{
    list-style-type: none;
    background-color: rgb(233, 233, 233);
    overflow: hidden;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
